.animation {
  position: absolute;

  width: 100vw;
  height: 100%;
  top: 0;
  left: 0;

  display: grid;
  grid-template:
    'iphone'
    'android'
    'footer';

  grid-template-rows: auto auto auto;
  grid-template-columns: auto;

  &__iphone {
    position: relative;
    border: rgb(171, 111, 8) dotted 2px;
    grid-area: iphone;
    height: 100vh;

    // media query

    @media (min-height: 720px) {
      height: 90vh;
    }
    @media (min-height: 780px) {
      height: 90vh;
    }
    @media (min-height: 1024px) {
      height: 100vh;
    }
  }
  &__android {
    position: relative;
    grid-area: android;
    height: 120vh;
    border: rgb(17, 150, 173) dotted 2px;

    // media query
    @media (min-height: 720px) {
      height: 110vh;
    }
    @media (min-height: 780px) {
      height: 100vh;
    }
    @media (min-height: 1024px) {
      height: 120vh;
    }
  }
  &__footer {
    position: relative;
    grid-area: footer;
    border: rgb(232, 229, 229) dotted 1px;
    height: 70vh;

    // media query
    @media (min-height: 720px) {
      height: 60vh;
    }
    @media (min-height: 780px) {
      height: 60vh;
    }
    @media (min-height: 1024px) {
      height: 70vh;
    }
  }

  &__iphone-container {
    position: relative;

    width: 50vw;
    height: 90vw;

    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    z-index: 1;

    @media (min-height: 1024px) {
      width: 40vw;
      height: 80vw;
    }
  }

  &__android-container {
    position: absolute;
    width: 60vw;
    height: 162vw; /* android-box size + dots-box size  */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  &__android-box {
    position: absolute;
    width: 60vw;
    height: 120vw;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 0%);

    z-index: 1;
  }

  &__footer-container {
    position: relative;
    top: 60%;
    left: 50%;
    transform-origin: center center;
    transform: translate(-50%, -50%) skew(22deg, -5deg) rotate(10deg);

    width: 70vw;
    height: 35vw;
    border: dotted 1px grey;
  }

  &__dots-box {
    position: absolute;
    height: 35%;
    width: 60vw;

    top: 5%;
    left: 50%;

    transform: translate(-50%, 0%);
    z-index: 2;
    background: transparent;

    &--cover {
      position: absolute;
      width: 100vw;
      height: 100%;

      top: -100%;
      left: 50%;
      transform: translate(-50%, -50%);
      z-index: 3;

      background-color: $color-body;
      background-color: rgba(10, 45, 10, 0.534);
    }
  }

  @media (max-resolution: 1dppx) and (min-width: 1280px) {
    width: 100vw;
    height: 50vw;
  }

  @media (max-resolution: 1dppx) and (min-width: 1280px) {
    width: 100vw;
    height: 50vw;
  }
}

.back {
  position: relative;
  width: 60vw;
  height: 120vw;

  // grid-area: laptop;
  // background: rgba(211, 72, 22, 0.249);

  // border: 2px dotted red;
  // z-index: 1;

  // @media (min-height: 1024px) {
  //   width: 50vw;
  //   height: 100vw;
  // }
}

.front {
  width: 60vw;
  height: 120vw;
  position: relative;

  // background: rgba(0, 0, 255, 0.249);
  // border: black dotted 2px;

  // @media (min-height: 1024px) {
  //   width: 50vw;
  //   height: 100vw;
  // }
}
