.animation {
  position: relative;
  // background-color: rgba(56, 51, 109, 0.612);
  // border: rgb(148, 28, 15) dotted 5px;
  z-index: 1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100vw;
  height: 250vh;
  align-content: flex-start;

  // display: grid;
  // grid-template:
  //   'phone'
  //   'laptop';
  // grid-template-rows:  auto;
  // grid-template-columns: auto;

  &__phone-container {
    position: absolute;
    // grid-area: phone;
    width: 50vw;
    height: 90vw;
    top: 380px;
    left: 50%;
    transform: translate(-50%, -50%);
    // border: 4px blueviolet dotted;
    z-index: 1;

    @media (min-width: 414px) {
      top: 400px;
    }
  }

  &__dots-container {
    position: relative;
    height: 25vw;
    margin-left: 50vw;
    transform: translate(-50%, -50%) scale(1.15);
    z-index: 1;
    // display: flex;
    // justify-content: space-around;
    // align-items: flex-end;
    // border: red dotted 1px;
  }

  &__laptop-container {
    position: absolute;
    width: 50vw;
    height: 100vw;
    top: 1150px;
    left: 50%;
    transform: translate(-50%, -50%);

    // grid-area: laptop;
    border: 2px dotted yellow;
    z-index: 1;
  }

  @media (max-resolution: 1dppx) and (min-width: 1280px) {
    width: 100vw;
    height: 50vw;
  }

  @media (max-resolution: 1dppx) and (min-width: 1280px) {
    width: 100vw;
    height: 50vw;
  }
}

.red {
  width: 200px;
  height: 300px;
  position: relative;

  // top: 1150px;
  left: 20px;
  background: rgba(255, 0, 0, 0.29);
  border: white;
}

.blue {
  width: 200px;
  height: 300px;
  position: relative;

  // top: 1150px;
  left: 20px;
  background: rgba(0, 0, 255, 0.249);
  border: orange;
}
