.animation__dot {
  position: absolute;
  width: 1.8rem;
  height: 1.8rem;
  border-radius: 50%;
  border: double 3px rgb(114, 114, 114);
  top: -100%;
  transform: translate(-50%, -50%);
  z-index: 3;
  left: 50%;

  &--anime {
    animation: dots ease-in 2s forwards;
    top: 50%;
    transform: translate(-50%, -50%);
  }

  &--blue {
    background: rgb(3, 21, 50);
    top: -100%;

    left: 25%;
  }
  &--black {
    background: rgb(0, 0, 0);
    top: -100%;

    left: 50%;
  }

  &--silver {
    background: darkgrey;
    top: -100%;

    left: 75%;
  }

  &--main {
    top: 20%;
  }

  &--top {
    top: 40%;
  }
  &--middle {
    top: 60%;
  }
  &--bottom {
    top: 80%;
  }
  &--opacity {
    opacity: 0;
  }

  @keyframes dots {
    0% {
      top: -100%;
    }
    5% {
      top: 80%;
    }
    10% {
      top: 10%;
    }
    20% {
      top: 80%;
    }
    25% {
      top: 28%;
    }
    30% {
      top: 80%;
    }
    35% {
      top: 38%;
    }
    40% {
      top: 80%;
    }
    45% {
      top: 50%;
    }
    50% {
      top: 80%;
    }
    55% {
      top: 60%;
    }
    60% {
      top: 80%;
    }
    65% {
      left: 20%;
      top: 65%;
    }
    70% {
      top: 80%;
    }
    75% {
      top: 72%;
    }
    80% {
      top: 80%;
    }
    85% {
      top: 75%;
    }
    90% {
      top: 80%;
    }
    90% {
      top: 78%;
    }

    100% {
      left: 20%;

      top: 80%;
    }
  }
}
