.menu {
  position: absolute;

  cursor: pointer;

  &__border {
    position: absolute;
    width: 102%;
    height: 102%;
    border-radius: 2rem;
    transform: translate(-2%, 2%);
    z-index: -1;

    background: linear-gradient(
        120deg,
        darken(#987e68, 20%) 1%,
        darken(#dcc2ab, 10%) 10%,
        darken(#ac8863, 10%) 20%,
        darken(#c4b29b, 0%) 43%,
        darken(#bd9b6e, 20%) 50%,
        darken(#bd9d72, 20%) 55%,
        darken(#ae9474, 0%) 60%,
        darken(#ab9882, 10%) 80%,
        darken(#d8c3b0, 00%) 100%
      ),
      #a98d72;
    box-shadow: -1px 1px 0px 0px #a0856e;

    &--active {
      background: linear-gradient(
          120deg,
          darken(#987e68, 20%) 1%,
          darken(#dcc2ab, 10%) 10%,
          darken(#ac8863, 10%) 20%,
          darken(#c4b29b, 0%) 43%,
          darken(#bd9b6e, 20%) 50%,
          darken(#bd9d72, 20%) 55%,
          darken(#ae9474, 0%) 60%,
          darken(#ab9882, 10%) 80%,
          darken(#d8c3b0, 00%) 100%
        ),
        #a98d72;
      transform: translate(-2%, 2%) scale(0.85);
    }
  }

  &__square {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 2;

    border-radius: 2rem;
    border: rgb(210, 210, 210) 0.1rem solid;
    background: linear-gradient(
        130deg,
        $color-body 0%,
        rgba(rgb(18, 34, 46), 1) 100%
      ),
      $color-gray-dark;

    opacity: 0.7;

    background: $color-phone-silver;

    border: rgb(240, 240, 240) 0.1rem solid;

    &--rotate {
      background: linear-gradient(
          130deg,
          rgba(rgb(174, 173, 173), 1) 0%,
          rgba(rgb(99, 99, 99), 1) 100%
        ),
        $color-gray-dark;
    }

    &--active {
      opacity: 1;

      transform: scale(0.85);

      background: linear-gradient(
          120deg,
          #ccc7c2 1%,
          #a89482 10%,
          #b6aba2 30%,
          #9b8979 50%,
          #8d7865 80%,
          #c5af9d 100%
        ),
        #a98d72;
    }

    @media (min-width: 481px) {
      // border-radius: 2rem;
    }

    @media (orientation: landscape) and (min-width: 768px) {
    }
  }

  &__shadow {
    position: absolute;

    width: 100%;
    height: 115%;
    transform: translate(-50%, 0%) rotate(0deg) skew(-25deg, 0deg);
    transform-origin: bottom;
    bottom: 0%;
    left: 50%;
    background: $color-background;
    background: rgba(77, 76, 76, 0.301);

    border-radius: 2rem;

    &--rotate-shadow {
      color: rgba(237, 237, 237, 0.493);
    }
  }

  &__text {
    position: absolute;
    width: 100%;
    height: 100%;
    font-weight: bold;

    font-size: 1rem;
    letter-spacing: 0.1rem;

    text-shadow: 0px 0px 1px rgba(136, 133, 133, 0.815);

    color: rgba(230, 229, 229, 0.988);

    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;

    z-index: 3;
    line-height: 1.8rem;

    // transform: rotate(0deg);

    &--active {
      // color: $color-speech;

      // text-shadow: 2px 2px 2px rgba(14, 11, 29, 0.596);

      // color: rgb(8, 17, 31);
      // font-size: 0.8rem;

      // @media (orientation: landscape) {
      //   font-size: 0.5rem;
      // }

      // @media (orientation: landscape) and (min-width: 1000px) {
      //   font-size: 0.5rem;
      //   line-height: 1.2rem;
      //   padding: 0 $main-padding;
      // }

      // @media (orientation: landscape) and (min-width: 1536px) {
      //   padding: 0 $main-padding;
      //   line-height: 1.4rem;
      // }

      // @media (orientation: landscape) and (min-width: 2560px) {
      //   font-size: 0.6rem;
      //   line-height: 1.6rem;
      // }
    }

    @media (orientation: landscape) {
      font-size: 0.7rem;
      line-height: 1.2rem;
    }

    @media (orientation: landscape) and (min-width: 1000px) {
      font-size: 0.6rem;
      line-height: 1.2rem;
      padding: 0 $main-padding;
    }

    @media (orientation: landscape) and (min-width: 1536px) {
      padding: 0 $main-padding;
      line-height: 1.4rem;
    }

    @media (orientation: landscape) and (min-width: 2560px) {
      font-size: 0.8rem;
      line-height: 1.6rem;
    }
    &--rotate {
      color: $color-body;
      font-weight: bold;
      text-shadow: 0px 0px 1px rgba($color-body, 0.1);

      @media (orientation: landscape) {
        line-height: 1rem;
      }
    }

    &--shadow {
      font-size: 1.1rem;
      text-shadow: 0px 0px 0px rgba(3, 8, 34, 0.899);
      top: 45%;
      opacity: 0.4;
      @media (orientation: landscape) {
        font-size: 0.6rem;
      }
    }

    &-p {
      padding: 0 $main-padding / 2;
      text-transform: uppercase;
      position: absolute;

      &--active {
        transform: scale(0.85);
      }
    }
  }

  &--color {
    top: 10%;
    left: 10%;
    text-shadow: 0px 0px 0px rgba(255, 255, 255, 0);
    color: rgba(195, 195, 198, 0.927);
    transform: translate(0%, 0%);
  }
}

.aboutme {
  top: 6%;
  left: 10%;
  width: 35vw;
  height: 15vw;
  animation: squaresmenu 4s infinite linear alternate-reverse;

  @media (min-width: 481px) {
    width: 22%;
    height: 8%;
    top: 4%;
    left: 40%;
  }

  @media (orientation: landscape) {
    width: 20%;
    height: 10%;

    top: 10%;
    left: 6%;
  }

  @media (orientation: landscape) and (min-width: 768px) {
    width: 20%;
    height: 10%;
  }

  // macbook lower
  @media (orientation: landscape) and (min-width: 1000px) {
    width: 16%;
    height: 10%;
  }

  @media (orientation: landscape) and (min-width: 1280px) {
    width: 14%;
  }

  @media (orientation: landscape) and (min-width: 1440px) {
    width: 12%;
  }

  @media (orientation: landscape) and (min-width: 1920px) {
    left: 16%;
    width: 10%;
    height: 10%;
    top: 14%;
  }
}

.description {
  top: 4%;
  right: 10%;
  width: 30vw;
  height: 30vw;
  animation: squaresmenu 3s 1s infinite ease-in alternate-reverse;

  @media (min-width: 481px) {
    width: 22%;
    height: 15%;
    top: 4%;
    left: 4%;
  }

  @media (orientation: landscape) {
    width: 15%;
    height: 20%;

    top: 26%;
    left: 16%;
  }

  @media (orientation: landscape) and (min-width: 768px) {
    width: 15%;
    height: 20%;
  }
  // macbook lower
  @media (orientation: landscape) and (min-width: 1000px) {
    width: 14%;
    height: 16%;
  }
  @media (orientation: landscape) and (min-width: 1280px) {
    width: 12%;
    height: 16%;
  }

  @media (orientation: landscape) and (min-width: 1920px) {
    width: 8%;
    height: 16%;
    top: 30%;
    left: 22%;
  }
}

.steps {
  top: 18%;
  left: 8%;
  width: 30vw;
  height: 30vw;
  animation: squaresmenu 3s infinite ease-in alternate-reverse;

  @media (min-width: 481px) {
    width: 22%;
    height: 8%;
    top: 16%;
    left: 34%;
  }

  @media (orientation: landscape) {
    width: 20%;
    height: 10%;

    top: 54%;
    left: 6%;
  }

  @media (orientation: landscape) and (min-width: 768px) {
    width: 20%;
    height: 10%;
  }
  // macbook lower
  @media (orientation: landscape) and (min-width: 1000px) {
    width: 16%;
    height: 10%;
  }
  @media (orientation: landscape) and (min-width: 1280px) {
    width: 14%;
  }

  @media (orientation: landscape) and (min-width: 1440px) {
    width: 12%;
  }
  @media (orientation: landscape) and (min-width: 1920px) {
    top: 54%;
    left: 16%;
    width: 10%;
    height: 10%;
  }
}
.faq {
  top: 24%;
  right: 12%;

  width: 35vw;
  height: 15vw;
  animation: squaresmenu 3s 2s infinite ease-in alternate-reverse;

  @media (min-width: 481px) {
    width: 22%;
    height: 16%;
    top: 8%;
    right: 6%;
  }

  @media (orientation: landscape) {
    width: 15%;
    height: 20%;

    left: 24%;
    top: 68%;
  }

  @media (orientation: landscape) and (min-width: 768px) {
    width: 15%;
    height: 20%;
  }

  // macbook lower
  @media (orientation: landscape) and (min-width: 1000px) {
    width: 14%;
    height: 16%;
  }

  @media (orientation: landscape) and (min-width: 1280px) {
    width: 12%;
    height: 16%;
  }

  @media (orientation: landscape) and (min-width: 1920px) {
    width: 8%;
    height: 16%;
    top: 70%;
  }
}

.linkedin {
  top: 3%;
  left: 10%;

  width: 35vw;
  height: 15vw;
  animation: squaresmenu 3s infinite linear alternate-reverse;

  @media (min-width: 481px) {
    width: 22vw;
    height: 10vw;
    left: 22%;

    top: 24%;
    left: 2%;
  }

  @media (orientation: landscape) {
    width: 22%;
    height: 16%;
    top: 22%;
    left: 4%;
  }

  @media (orientation: landscape) and (min-width: 768px) {
    width: 22%;
    height: 14%;
    top: 22%;
    left: 4%;
  }

  @media (orientation: landscape) and (min-width: 1000px) {
    width: 26vh;
    height: 10vh;
    left: 14%;
  }
  @media (orientation: landscape) and (min-width: 1920px) {
    width: 20vh;
    height: 8vh;
    left: 24%;
  }
}

.email {
  top: 0%;
  right: 10%;

  width: 30vw;
  height: 25vw;
  animation: squaresmenu 4s infinite ease-in alternate-reverse;

  @media (min-width: 481px) {
    width: 18vw;
    height: 18vw;
    left: 6%;
    top: 48%;
  }

  @media (min-width: 1200px) {
    top: 10%;
    right: 10%;
  }
  @media (orientation: landscape) {
    width: 14%;
    height: 26%;
    left: 10%;
    top: 46%;
  }

  @media (orientation: landscape) and (min-width: 768px) {
    width: 14%;
    height: 22%;
    left: 8%;
    top: 46%;
  }
  @media (orientation: landscape) and (min-width: 1000px) {
    width: 20vh;
    height: 18vh;
    left: 18%;
    top: 46%;
  }

  @media (orientation: landscape) and (min-width: 1920px) {
    width: 15vh;
    height: 12vh;
    left: 26%;
  }
}

.rotate-phone {
  bottom: 2%;
  right: 4%;
  width: 35vw;
  height: 15vw;

  transform: translate(0%, 50%) rotate(5deg);

  @media (min-width: 481px) {
    width: 22vw;
    height: 8vw;
  }

  @media (orientation: landscape) {
    width: 35vh;
    height: 15vh;
  }

  @media (orientation: landscape) and (min-width: 768px) {
    width: 15%;
    height: 30%;
    right: 8%;
  }

  @media (orientation: landscape) and (min-width: 1500px) {
    width: 14%;
    height: 32%;
    right: 8%;
  }
  @media (orientation: landscape) and (min-width: 1920px) {
    width: 12%;
    height: 32%;
    right: 8%;
  }
}

// @keyframes squaresmenu {
//   0% {
//     transform: scale(1) translateX(-10%);
//   }

//   100% {
//     transform: scale(1.15) translateX(50%);
//   }
// }

@keyframes squaresmenu {
  0% {
    transform: translateX(-10%);
  }

  100% {
    transform: translateX(50%);
  }
}

.menu:hover .menu__square,
.menu:hover .menu__text-p {
  animation: hovermenu 0.5s linear alternate-reverse;
}

.menu:hover .menu__square--active,
.menu:hover .menu__text-p--active {
  animation: hovermenudown 0.5s linear alternate-reverse;
}
.menu:hover .menu__border {
  animation: hoverborder 0.5s linear alternate-reverse;
}

.menu:hover .menu__border--active {
  animation: hoverborderdown 0.5s linear alternate-reverse;
}

// .menu:hover .menu__text-p--active {
//   animation: hovermenudownp 0.5s linear alternate-reverse;
// }

@keyframes hovermenu {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(10deg);
  }
  50% {
    transform: rotate(0deg);
  }
  75% {
    transform: rotate(10deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

@keyframes hovermenudown {
  0% {
    transform: rotate(0deg) scale(0.85);
  }
  25% {
    transform: rotate(0deg) scale(0.85);
  }
  50% {
    transform: rotate(0deg) scale(0.85);
  }
  75% {
    transform: rotate(0deg) scale(0.85);
  }
  100% {
    transform: rotate(0deg) scale(0.85);
  }
}

// @keyframes hovermenudownp {
//   0% {
//     transform: rotate(0deg) scale(0.85);
//     color: red;
//   }
//   25% {
//     transform: rotate(0deg) scale(0.85);
//   }
//   50% {
//     transform: rotate(0deg) scale(0.85);
//   }
//   75% {
//     transform: rotate(0deg) scale(0.85);
//   }
//   100% {
//     transform: rotate(0deg) scale(0.85);
//     color: red;
//   }
// }

@keyframes hoverborder {
  0% {
    transform: rotate(0deg) translate(-2%, 2%);
  }
  25% {
    transform: rotate(10deg) translate(-2%, 2%);
  }
  50% {
    transform: rotate(0deg) translate(-2%, 2%);
  }
  75% {
    transform: rotate(10deg) translate(-2%, 2%);
  }
  100% {
    transform: rotate(0deg) translate(-2%, 2%);
  }
}

@keyframes hoverborderdown {
  0% {
    transform: rotate(0deg) translate(-2%, 2%) scale(0.85);
  }
  25% {
    transform: rotate(0deg) translate(-2%, 2%) scale(0.85);
  }
  50% {
    transform: rotate(0deg) translate(-2%, 2%) scale(0.85);
  }
  75% {
    transform: rotate(0deg) translate(-2%, 2%) scale(0.85);
  }
  100% {
    transform: rotate(0deg) translate(-2%, 2%) scale(0.85);
  }
}
