.aboutme {
  top: 6%;
  left: 10%;
  width: 35vw;
  height: 15vw;

  @media (min-width: 481px) {
    width: 22%;
    height: 8%;
    top: 4%;
    left: 40%;
  }

  @media (orientation: landscape) {
    width: 20%;
    height: 10%;

    top: 10%;
    left: 6%;
  }

  @media (orientation: landscape) and (min-width: 768px) {
    width: 20%;
    height: 10%;
  }

  // macbook lower
  @media (orientation: landscape) and (min-width: 1000px) {
    width: 16%;
    height: 10%;
  }

  @media (orientation: landscape) and (min-width: 1280px) {
    width: 14%;
  }

  @media (orientation: landscape) and (min-width: 1440px) {
    width: 12%;
  }

  @media (orientation: landscape) and (min-width: 1920px) {
    left: 16%;
    width: 10%;
    height: 10%;
    top: 14%;
  }
}

.description {
  top: 4%;
  right: 10%;
  width: 30vw;
  height: 30vw;

  @media (min-width: 481px) {
    width: 22%;
    height: 15%;
    top: 4%;
    left: 4%;
  }

  @media (orientation: landscape) {
    width: 15%;
    height: 20%;

    top: 26%;
    left: 16%;
  }

  @media (orientation: landscape) and (min-width: 768px) {
    width: 15%;
    height: 20%;
  }
  // macbook lower
  @media (orientation: landscape) and (min-width: 1000px) {
    width: 14%;
    height: 16%;
  }
  @media (orientation: landscape) and (min-width: 1280px) {
    width: 12%;
    height: 16%;
  }

  @media (orientation: landscape) and (min-width: 1920px) {
    width: 8%;
    height: 16%;
    top: 30%;
    left: 22%;
  }
}

.steps {
  top: 18%;
  left: 8%;
  width: 30vw;
  height: 30vw;

  @media (min-width: 481px) {
    width: 22%;
    height: 8%;
    top: 16%;
    left: 34%;
  }

  @media (orientation: landscape) {
    width: 20%;
    height: 10%;

    top: 54%;
    left: 6%;
  }

  @media (orientation: landscape) and (min-width: 768px) {
    width: 20%;
    height: 10%;
  }
  // macbook lower
  @media (orientation: landscape) and (min-width: 1000px) {
    width: 16%;
    height: 10%;
  }
  @media (orientation: landscape) and (min-width: 1280px) {
    width: 14%;
  }

  @media (orientation: landscape) and (min-width: 1440px) {
    width: 12%;
  }
  @media (orientation: landscape) and (min-width: 1920px) {
    top: 54%;
    left: 16%;
    width: 10%;
    height: 10%;
  }
}
.summary {
  top: 24%;
  right: 12%;

  width: 35vw;
  height: 15vw;

  @media (min-width: 481px) {
    width: 22%;
    height: 16%;
    top: 8%;
    right: 6%;
  }

  @media (orientation: landscape) {
    width: 15%;
    height: 20%;

    left: 24%;
    top: 68%;
  }

  @media (orientation: landscape) and (min-width: 768px) {
    width: 15%;
    height: 20%;
  }

  // macbook lower
  @media (orientation: landscape) and (min-width: 1000px) {
    width: 14%;
    height: 16%;
  }

  @media (orientation: landscape) and (min-width: 1280px) {
    width: 12%;
    height: 16%;
  }

  @media (orientation: landscape) and (min-width: 1920px) {
    width: 8%;
    height: 16%;
    top: 70%;
  }
}

.linkedin {
  top: 3%;
  left: 10%;

  width: 35vw;
  height: 15vw;

  @media (min-width: 481px) {
    width: 22vw;
    height: 10vw;
    left: 22%;

    top: 24%;
    left: 2%;
  }

  @media (orientation: landscape) {
    width: 22%;
    height: 16%;
    top: 22%;
    left: 4%;
  }

  @media (orientation: landscape) and (min-width: 768px) {
    width: 22%;
    height: 14%;
    top: 22%;
    left: 4%;
  }

  @media (orientation: landscape) and (min-width: 1000px) {
    width: 26vh;
    height: 10vh;
    left: 14%;
  }
  @media (orientation: landscape) and (min-width: 1920px) {
    width: 20vh;
    height: 8vh;
    left: 24%;
  }
}

.email {
  top: 0%;
  right: 10%;

  width: 30vw;
  height: 25vw;

  @media (min-width: 481px) {
    width: 18vw;
    height: 18vw;
    left: 6%;
    top: 48%;
  }

  @media (min-width: 1200px) {
    top: 10%;
    right: 10%;
  }
  @media (orientation: landscape) {
    width: 14%;
    height: 26%;
    left: 10%;
    top: 46%;
  }

  @media (orientation: landscape) and (min-width: 768px) {
    width: 14%;
    height: 22%;
    left: 8%;
    top: 46%;
  }
  @media (orientation: landscape) and (min-width: 1000px) {
    width: 20vh;
    height: 18vh;
    left: 18%;
    top: 46%;
  }

  @media (orientation: landscape) and (min-width: 1920px) {
    width: 15vh;
    height: 12vh;
    left: 26%;
  }
}

.rotate-phone {
  bottom: 2%;
  right: 4%;
  width: 35vw;
  height: 15vw;

  transform: translate(0%, 50%) rotate(5deg);

  @media (min-width: 481px) {
    width: 22vw;
    height: 8vw;
  }

  @media (orientation: landscape) {
    width: 35vh;
    height: 15vh;
  }

  @media (orientation: landscape) and (min-width: 768px) {
    width: 15%;
    height: 30%;
    right: 8%;
  }

  @media (orientation: landscape) and (min-width: 1500px) {
    width: 14%;
    height: 32%;
    right: 8%;
  }
  @media (orientation: landscape) and (min-width: 1920px) {
    width: 12%;
    height: 32%;
    right: 8%;
  }
}

.menu {
  position: absolute;

  &__square {
    position: absolute;
    width: 100%;
    height: 100%;

    border-radius: 0.5rem;
    border: rgb(210, 210, 210) 0.1rem solid;
    background: linear-gradient(
        130deg,
        $color-body 0%,
        rgba(rgb(18, 34, 46), 1) 100%
      ),
      $color-gray-dark;
    opacity: 0.7;
    &--rotate {
      background: linear-gradient(
          130deg,
          rgba(rgb(174, 173, 173), 1) 0%,
          rgba(rgb(99, 99, 99), 1) 100%
        ),
        $color-gray-dark;
    }

    @media (min-width: 481px) {
      border-radius: 0.5rem;
    }

    @media (orientation: landscape) and (min-width: 768px) {
    }
  }

  &__shadow {
    position: absolute;

    width: 100%;
    height: 115%;
    transform: translate(-50%, 0%) rotate(0deg) skew(-25deg, 0deg);
    transform-origin: bottom;
    bottom: 0%;
    left: 50%;
    background: $color-background;
    background: rgba(77, 76, 76, 0.301);

    border-radius: 5px;
  }

  &__text {
    position: absolute;
    width: 100%;
    height: 100%;
    font-weight: bold;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    font-size: 1rem;
    letter-spacing: 0.1rem;

    text-shadow: 0px 0px 1px rgba(136, 133, 133, 0.815);

    color: $color-body;
    color: rgba(230, 229, 229, 0.988);

    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;

    z-index: 3;
    line-height: 1.8rem;

    @media (orientation: landscape) {
      font-size: 0.7rem;
      line-height: 1.2rem;
    }

    @media (orientation: landscape) and (min-width: 1000px) {
      font-size: 0.6rem;
      line-height: 1.2rem;
      padding: 0 $main-padding;
    }

    @media (orientation: landscape) and (min-width: 1536px) {
      padding: 0 $main-padding;
      line-height: 1.4rem;
    }

    @media (orientation: landscape) and (min-width: 2560px) {
      font-size: 0.8rem;
      line-height: 1.6rem;
    }
    &--rotate {
      color: $color-body;
      font-weight: bold;
      text-shadow: 0px 0px 1px rgba($color-body, 0.1);

      @media (orientation: landscape) {
        line-height: 1rem;
      }
    }

    &--shadow {
      font-size: 1.1rem;
      text-shadow: 0px 0px 0px rgba(3, 8, 34, 0.899);
      top: 45%;
      opacity: 0.4;
      @media (orientation: landscape) {
        font-size: 0.6rem;
      }
    }

    & p {
      padding: 0 $main-padding / 2;
      text-transform: uppercase;
    }
  }

  &--color {
    top: 10%;
    left: 10%;
    text-shadow: 0px 0px 0px rgba(255, 255, 255, 0);
    color: rgba(195, 195, 198, 0.927);
    transform: translate(0%, 0%);
  }
}
