.pencil-container {
  position: relative;
  width: 100%;
  height: 100%;

  .pencil-line {
    position: absolute;
    width: 35%;
    height: 100%;
    top: 10%;
    left: 10%;
    border-top: $color-gray-light 1px solid;
    border-left: $color-gray-light 1px solid;

    &--linkedin {
      width: 35%;
    }

    &--email {
      width: 28%;
    }
  }
  .pencil {
    position: absolute;
    display: flex;
    width: 120%;
    height: 10%;
    top: 10%;
    left: 35%;
    z-index: 4;
    transform-origin: center left;

    transform: translateY(-50%) rotate(10deg);
    &__main {
      top: 0;
      right: 0;
      width: 85%;
      height: 100%;
      background: $color-businesscard-background-pencil;
      display: flex;
    }

    &__triangle {
      top: 0;
      left: 0;
      width: 15%;
      height: 100%;
      z-index: 1;
      border-right: rgb(172, 172, 172) 3px double;
      clip-path: polygon(0 50%, 100% 100%, 100% 0);
      background: $color-businesscard-background-pencil;
    }
  }
}
