.screen-text {
  padding: 5px;
  position: relative;
  background: $color-speech;
  border-radius: 0.5rem;
  color: white;
  margin: 0 0 $main-padding $main-padding;
  font-size: 1rem;
  line-height: 1.2rem;
  text-align: left;

  // &--title {
  //   text-align: center;
  //   margin: $main-padding / 2;
  // }

  &--date {
    text-align: center;
  }
}

.speech {
  position: relative;
  background: $color-speech;
  border-radius: 0.5rem;
  color: white;
  margin: 0 0 $main-padding $main-padding;
  font-size: 1rem;
  line-height: 1.2rem;
  text-align: left;

  @media (orientation: landscape) {
    font-size: 0.7rem;
    line-height: 0.8rem;
  }

  span {
    text-decoration: line-through;
  }

  &:after {
    content: '';
    position: absolute;
    bottom: 0;
    right: 15%;
    width: 0;
    height: 0;
    border: 10px transparent solid;
    border-top-color: $color-speech;
    border-bottom: 0;
    border-left: 0;
    margin-bottom: -10px;
  }

  &--question {
    margin: 0 $main-padding $main-padding 0;
    background-color: $color-speech-question;
    color: $color-font;
    text-align: left;

    &:after {
      right: auto;
      left: 15%;
      border: 10px solid transparent;
      border-top-color: $color-speech-question;
      border-bottom: 0;
      border-right: 0;
    }
  }

  &--cv {
    margin: $main-padding / 2 $main-padding $main-padding 0;

    @media (min-width: 481px) {
      margin: $main-padding $main-padding $main-padding 0;
    }
  }
}
