.text-body {
  position: absolute;
  width: 100vw;
  // height: 150%;
  top: -40px;
  // left: -50%;
  transform: skew(0deg, -8deg);
  background: $color-body;
  color: $color-font-body;
  z-index: 1;
  text-align: center;
  &__paragraph {
    // color: red;
    position: relative;
    font-size: 3vw;
    line-height: 1rem;
  }

  &__menu {
    color: rgb(218, 216, 216);
    padding: 0 2px;
    text-shadow: 0px 0px 8px white;

    // class for each menu in case to customize each of them
    // &--about-me {
    //   // color: blue;
    // }
  }

  &__info {
    color: rgb(171, 169, 169);
  }
}
