// main colors

$color-gray-xxlight: #f2f2f2;
$color-gray-xlight: #d7d5d5;
$color-gray-light: #bdb8b8;
$color-gray-medium: #f2f0f0;
$color-gray-dark: #e6e2e2;
$color-font: grey;

$color-gray-xxlight: #f2f2f2;
$color-gray-xlight: #bbbaba;
$color-gray-light: #7d7c7c;
$color-gray-medium: #f2f0f0;
$color-gray-dark: #949494;
$color-font: grey;

// body
$color-body: rgb(53, 53, 53);
$color-font-body: rgba(222, 222, 222, 0.16);

$color-body: rgb(21, 38, 63);
$color-font-body: rgba(222, 222, 222, 0.16);

$color-body: rgb(21, 67, 40);

$color-body: rgb(19, 32, 52);

$color-font-body: rgba(232, 232, 232, 0.201);

//my friend Paulina's wish (demand) color :)

$color-blue-xlight: #05172d;
$color-blue-light: #010a13;
$color-blue-medium: #0b2647;
$color-blue-dark: #ffffff;

$color-background-paulina: linear-gradient(
    135deg,
    rgba($color-blue-xlight, 1) 1%,
    rgba($color-blue-xlight, 1) 10%,
    rgba($color-blue-medium, 1) 30%,
    rgba($color-blue-xlight, 1) 60%,
    rgba($color-blue-medium, 1) 80%,
    rgba($color-blue-dark, 1) 90%,
    rgba($color-blue-dark, 0.8) 100%
  ),
  $color-blue-light;

// color background

$color-background: linear-gradient(
    100deg,
    rgba(rgb(155, 151, 151), 1) 1%,
    rgba(rgb(101, 97, 97), 1) 10%,
    rgba(rgb(133, 130, 130), 1) 20%,
    rgba(rgb(113, 112, 112), 1) 30%,
    rgba(rgb(126, 127, 128), 1) 40%,
    rgba(rgb(165, 162, 162), 1) 50%,
    rgba(rgb(116, 114, 114), 1) 60%,
    rgba(rgb(126, 118, 118), 1) 70%,
    rgba(rgb(131, 127, 127), 1) 80%,
    rgba(rgb(54, 56, 57), 1) 90%,
    rgba(rgb(218, 215, 215), 1) 100%
  ),
  $color-gray-dark;

$color-background-orange: linear-gradient(
    135deg,
    rgba(#bdb9ab, 1) 1%,
    rgba(#787056, 1) 10%,
    rgba(#d7cdae, 1) 30%,
    rgba(#e6e0d0, 1) 50%,
    rgba(#a7a18c, 1) 80%,
    rgba(#bfb69b, 1) 100%
  ),
  rgb(97, 68, 36);

// phone - frame color

$color-phone-blue: linear-gradient(
    115deg,
    #16222a 1%,
    #16222a 5%,
    #16222a 10%,
    #3a6073 30%,
    #234657 70%,
    #263641 80%,
    #224252 90%,
    #16222a 100%
  ),
  #3a6073;

$color-phone-silver: linear-gradient(
    135deg,
    rgb(206, 206, 206) 10%,
    rgb(174, 168, 168) 20%,
    rgb(182, 181, 181) 30%,
    rgb(177, 176, 176) 40%,
    rgb(157, 157, 157) 50%,
    rgb(133, 131, 131) 60%,
    rgb(128, 126, 126) 70%,
    rgb(143, 142, 142) 80%,
    rgb(125, 123, 123) 90%,
    rgb(116, 115, 115) 100%
  ),
  grey;

$color-phone-black: linear-gradient(
    82deg,
    rgba(rgb(9, 9, 9), 1) 1%,
    rgba(rgb(2, 2, 2), 1) 30%,
    rgba(rgb(203, 176, 176), 1) 70%,
    // rgba(rgb(7, 7, 7), 1) 80%,
    rgba(rgb(0, 0, 0), 1) 90%,
    rgba(rgb(21, 20, 20), 0.8) 100%
  ),
  rgb(16, 16, 16);

// color of paper
$color-paper: #e9e4c9;

// test

// color of phone
$color-phone-background: linear-gradient(
    120deg,
    #fff9f9 0%,
    #fffefe 5%,
    #e8e5e5 10%,
    #fcfcfc 20%,
    #ffffff 43%,
    #ffffff 45%,
    #ebe9e9 50%,
    #f0f0f0 60%,
    #ffffff 80%,
    #e8e7e7 100%
  ),
  #bfbcba;

$color-phone-background-inside: linear-gradient(
    120deg,
    #f9f9f9 1%,
    #d3cec9 10%,
    #ffffff 50%,
    #d3d3d3 100%
  ),
  #bfbcba;
$color-phone-glass: rgba(#293040, 0.8);
$color-phone-frame: rgb(41, 41, 41);
$color-phone-bottom: #adacad;
$color-phone-frame: #b8b8b8;

// color of business card

$color-businesscard-background-pencil: linear-gradient(
    to bottom,
    rgba(rgb(247, 247, 247), 1) 1%,
    rgba($color-gray-light, 0.8) 50.1%,
    rgba($color-gray-dark, 1) 73%,
    rgba($color-gray-dark, 0.8) 73.1%,
    rgba(rgb(160, 158, 158), 0.8) 100%
  ),
  rgb(171, 168, 168);

// color speech
$color-speech: darken(#0081ff, 5%);
$color-speech: #04488c;
$color-speech: #04488ce3;
// $color-speech: #043d76e0;
// $color-speech: lighten(rgba(36, 65, 103, 0.934), 0%);
$color-speech-question: lightgrey;

// fonts sizes
$xs-font-size: 12px;
$sm-font-size: 16px;
$md-font-size: 18px;
$lg-font-size: 20px;

// fonts family

$font-montserrat: 'Montserrat', sans-serif;
$font-hand: 'Nothing You Could Do', cursive;
$font-draper: 'Draper', sans-serif;

// margins
$main-padding: 20px;
$main-margin-responsive: 20px;
$main-spacing: 20px;
$max-width: 1000px;

// brakpoints
$breakpoints: (
  xs: 500px,
  sm: 800px,
  md: 1024px,
  lg: 2000px,
  phone: (
    min-width: 460px,
  ),
  phone-large: (
    min-width: 640px,
  ),
  tablet: (
    min-width: 768px,
  ),
  tablet-large: (
    min-width: 1024px,
  ),
  desktop: (
    min-width: 1280px,
  ),
  desktop-medium: (
    min-width: 1600px,
  ),
  desktop-large: (
    min-width: 1900px,
  ),
);

// :export {
//   colorBright: $color-bright;
//   colorLight: $color-light;
//   colorRegular: $color-regular;
//   colorDark: $color-dark;
// }
