body {
  position: relative;
  min-height: 100vh;
  width: 100vw;
  // height: 320vh;
  background-color: $color-body;
  border: white dotted 1px;
}

.none {
  display: none;
}
.opacity {
  opacity: 0;
}
.wrapper {
  position: relative;
  // min-height: 250vh;
  width: 100vw;
  overflow: hidden;
  // background-color: $color-body;
  height: 290vh;
  transform: skew(0deg, -8deg);

  @media (min-width: 360px) and (min-height: 720px) and (orientation: portrait) {
    height: 245vh;
  }

  // @media (min-width: 360px) and (min-height: 720px) and (orientation: portrait) {
  //   height: 240vh;
  // }

  @media (min-width: 481px) and (orientation: portrait) {
    height: 270vh;
  }

  @media (min-width: 800px) and (max-width: 1023px) and (orientation: portrait) {
    height: 240vh;
  }

  @media (min-width: 1024px) and (orientation: portrait) {
    height: 270vh;
  }
  @media (min-width: 1200px) and (orientation: portrait) {
    height: 350vh;
  }

  @media (orientation: landscape) {
    height: 410vh;
  }

  @media (orientation: landscape) and (min-width: 710px) {
    height: 490vh;
    border: 1px pink dotted;
  }

  @media (orientation: landscape) and (min-width: 1024px) {
    height: 300vh;
  }

  @media (orientation: landscape) and (min-width: 1360px) and (min-height: 768px) and (max-resolution: 1dppx) {
    height: 310vh;
  }
}
