body {
  position: relative;
  min-height: 100vh;
  width: 100vw;
  // height: 320vh;
  background-color: $color-body;
  border: white dotted 1px;
}

.none {
  display: none;
}
.opacity {
  opacity: 0;
}
.wrapper {
  position: relative;
  // min-height: 250vh;
  width: 100vw;
  overflow: hidden;
  // background-color: $color-body;
  height: 300vh;
  transform: skew(0deg, -8deg);

  @media (min-height: 720px) {
    height: 260vh;
  }
  @media (min-height: 780px) {
    height: 250vh;
  }

  @media (min-width: 481px) and (max-width: 767.98px) {
    height: 290vh;
    // height: 280vh;
  }
  @media (min-width: 768px) {
    height: 280vh;
  }
  @media (min-width: 1024px) {
    height: 330vh;
  }
  @media (min-width: 1200px) {
    height: 350vh;
  }

  @media (orientation: landscape) {
    height: 410vh;
  }

  @media (orientation: landscape) and (min-width: 710px) {
    height: 500vh;
  }
}
